/* You can add global styles to this file, and also import other style files */
// @import "./scss/_variables";
// @import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/_mixins";
@import "~bootstrap/scss/_utilities";


$color-inital-dark: #373740 !default;
$color-text-dark: #BCBCBC !default;

$color-initial: #fff !default;
$color-text: #fff !default;
$color-primary: #0081D5 !default; // 60%
$color-secondary: #3c4859 !default; // 30%
$color-accent: $color-secondary !default; // 10%

$color-tertiary: #f4f5f6 !default;
$color-quaternary: #d1d1d1 !default;
$color-quinary: #e1e1e1 !default;

$color-base: #88929b;
$color-base-text: #3c4859;
$color-success: #007D51 !default;
$color-warn: #FFAC12 !default;
$color-alert: #FF6951 !default;
$color-error: #B00020 !default;

$color-input: #fff;
$border-color: $color-quaternary;
$border-color-error: $color-error;
$border-radius: 0.25rem;
$border-size: 1px;
$input-font-size: 0.875rem;
$box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
// $box-shadow: none;
$color-background: rgb(10, 8, 8);
$color-background-line: rgb(216, 216, 216);
$color-background-line-small: rgb(228, 228, 228);

// @import "~milligram/src/milligram";


// reset
a:focus,
a:active,
button,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"]>input[type="button"]::-moz-focus-inner {
  outline: none !important;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

select:focus::-ms-value {
  background-color: $input-bg;
  color: $input-color;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  background-color: rgb(242, 242, 242);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 16px;
  color: $color-secondary;
  font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: .01em;
  line-height: 1.6;
}


@import "./scss/form";
@import "./scss/button";

.stage {
  // background-image: linear-gradient($color-background-line 2px, transparent 2px), linear-gradient(90deg, $color-background-line 2px, transparent 2px), linear-gradient($color-background-line-small 1px, transparent 1px), linear-gradient(90deg, $color-background-line-small 1px, transparent 1px);
  background-size: 80px 80px, 80px 80px, 8px 8px, 8px 8px;
  background-position: -1px -1px, -1px -1px, 0px 0px, 0px 0px;
}

main.container {
  padding: 0;
}



nav {
  line-height: 24px;

  span {
    display: inline-block;
    line-height: 24px;
    height: 24px;
  }
}
