<nge-input placeholder="Enter some text"
           label="Input text"></nge-input>

<nge-input placeholder="Enter some text"
           label="Das ist ein langer Label"></nge-input>

<nge-input placeholder="Enter some text"
           label="Input text"></nge-input>

<nge-select placeholder="Please select"
            label="Select"
            [options]="options"></nge-select>

<div class="d-flex">
  <nge-input class="mr-2"
             placeholder="Enter some text"
             label="Input text"></nge-input>
  <nge-button design="default"
              color="primary">Normal Button</nge-button>
</div>
