<div class="d-flex">
  <nge-button class="mr-2"
              design="default">Default Button</nge-button>
  <nge-button class="mr-2"
              design="outlined">Default Button</nge-button>
  <nge-button class="mr-2"
              design="clear">Default Button</nge-button>
</div>

<div class="d-flex">
  <nge-button class="mr-2"
              design="default"
              [disabled]="true">Default Button</nge-button>
  <nge-button class="mr-2"
              design="outlined"
              [disabled]="true">Default Button</nge-button>
  <nge-button class="mr-2"
              design="clear"
              [disabled]="true">Default Button</nge-button>
</div>

<div class="d-flex">
  <nge-button class="mr-2"
              color="primary"
              design="default">Primary Button</nge-button>
  <nge-button class="mr-2"
              color="primary"
              design="outlined">Primary Button</nge-button>
  <nge-button class="mr-2"
              color="primary"
              design="clear">Primary Button</nge-button>
</div>

<div class="d-flex">
    <nge-button class="mr-2"
                color="primary"
                design="default"
                [disabled]="true">Primary Button</nge-button>
    <nge-button class="mr-2"
                color="primary"
                design="outlined"
                [disabled]="true">Primary Button</nge-button>
    <nge-button class="mr-2"
                color="primary"
                design="clear"
                [disabled]="true">Primary Button</nge-button>
  </div>

<div class="d-flex">
  <nge-button class="mr-2"
              color="warn"
              design="default">Warn Button</nge-button>
  <nge-button class="mr-2"
              color="warn"
              design="outlined">Warn Button</nge-button>
  <nge-button class="mr-2"
              color="warn"
              design="clear">Warn Button</nge-button>
</div>


<div class="d-flex">
  <nge-button class="mr-2"
              color="alert"
              design="default">Alert Button</nge-button>
  <nge-button class="mr-2"
              color="alert"
              design="outlined">Alert Button</nge-button>
  <nge-button class="mr-2"
              color="alert"
              design="clear">Alert Button</nge-button>
</div>

<div class="d-flex">
  <nge-button class="mr-2"
              color="error"
              design="default">Error Button</nge-button>
  <nge-button class="mr-2"
              color="error"
              design="outlined">Error Button</nge-button>
  <nge-button class="mr-2"
              color="error"
              design="clear">Error Button</nge-button>
</div>

<div class="d-flex">
  <nge-button class="mr-2"
              color="success"
              design="default">Success Button</nge-button>
  <nge-button class="mr-2"
              color="success"
              design="outlined">Success Button</nge-button>
  <nge-button class="mr-2"
              color="success"
              design="clear">Success Button</nge-button>
</div>

<div class="d-flex">
  <nge-button class="mr-2"
              design="default"
              size="large">Default Button</nge-button>
  <nge-button class="mr-2"
              design="outlined"
              size="large">Default Button</nge-button>
  <nge-button class="mr-2"
              design="clear"
              size="large">Default Button</nge-button>
</div>

<div class="d-flex">
  <nge-button class="mr-2"
              design="default"
              size="small">Default Button</nge-button>
  <nge-button class="mr-2"
              design="outlined"
              size="small">Default Button</nge-button>
  <nge-button class="mr-2"
              design="clear"
              size="small">Default Button</nge-button>
</div>
